.mais-vendidos__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    padding: 1em 0 0.5em 0;
    font-size: 18px;
    font-weight: 700;
}
.descricao {
    padding:0 1em 0 0;
}
.descricao__star{
    margin-bottom: 0.5em;
}
.descricao__autora {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}